In [53]:
#Import dependencies and create file paths

import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import statsmodels.api as sm



csv_path = "Resources/global_power_plant_database.csv"
global_pwrplant = pd.read_csv(csv_path)
csv_path1 = "Resources/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4701247.csv"
gdp_data = pd.read_csv(csv_path1,skiprows=4)
csv_path2 = "Resources/Human Development Index - Full.csv"
hdi_data = pd.read_csv(csv_path2)
csv_path3 = "Resources/country_codes.csv"
country_regions = pd.read_csv(csv_path3, encoding="ISO-8859-1")
csv_path4 = "Resources/green_energy_grp.csv"
green_energy_data = pd.read_csv(csv_path4)
csv_path5 = "Resources/country_total_capacity.csv"
total_capacity_data = pd.read_csv(csv_path5)

/var/folders/ng/41b1kp4n0wg3hvfwdd1fdzzm0000gn/T/ipykernel_32988/438131765.py:9: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  global_pwrplant = pd.read_csv(csv_path)

In [49]:
#Clean country_regions dataframe
country_regions
country_regions.rename(columns={'country':'Country Code', 'region':'Region', 'sub-region': 'Sub-Region'}, inplace=True)
country_regions_cleaned=country_regions[['Country Code', 'Region', 'Sub-Region']]
country_regions_cleaned

    Country Code   Region          Sub-Region
0            AFG     Asia       Southern Asia
1            ALA   Europe     Northern Europe
2            ALB   Europe     Southern Europe
3            DZA   Africa     Northern Africa
4            ASM  Oceania           Polynesia
..           ...      ...                 ...
244          WLF  Oceania           Polynesia
245          ESH   Africa     Northern Africa
246          YEM     Asia        Western Asia
247          ZMB   Africa  Sub-Saharan Africa
248          ZWE   Africa  Sub-Saharan Africa

[249 rows x 3 columns]

In [2]:
gdp_hdi_data = pd.merge(gdp_data,hdi_data, left_on = "Country Code", right_on = "ISO3", how = "inner")
gdp_hdi_data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,Material footprint per capita (tonnes) (2012),Material footprint per capita (tonnes) (2013),Material footprint per capita (tonnes) (2014),Material footprint per capita (tonnes) (2015),Material footprint per capita (tonnes) (2016),Material footprint per capita (tonnes) (2017),Material footprint per capita (tonnes) (2018),Material footprint per capita (tonnes) (2019),Material footprint per capita (tonnes) (2020),Material footprint per capita (tonnes) (2021)
0,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.86,1.88,1.66,1.62,1.66,1.41,1.32,1.38,1.38,1.38
1,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.09,4.53,3.97,3.59,2.79,2.64,2.28,2.18,2.18,2.18
2,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,12.44,11.49,13.14,12.61,14.39,14.46,12.85,12.96,12.96,12.96
3,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United Arab Emirates,ARE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,49.56,49.68,55.49,59.76,64.95,75.61,65.97,68.95,68.95,68.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Samoa,WSM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.66,3.60,3.55,3.39,3.48,3.06,2.84,2.89,2.89,2.89
192,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,9.55,10.09,8.41,8.06,7.55,7.76,7.60,7.55,7.55,7.55
193,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,4.74,4.68,3.92,3.36,3.12,3.21,2.80,2.38,2.38,2.38
194,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,3.13,2.86,3.03,2.66,2.29,2.26,2.05,1.21,1.21,1.21

In [4]:
hdi_gdp_reduced = gdp_hdi_data[["Country Name","Country Code", "Human Development Index (2021)","2021"]]
hdi_gdp_reduced.rename(columns={'2021': 'GDP Per Capita (2021)'}, inplace=True)

hdi_gdp_reduced

/var/folders/ng/41b1kp4n0wg3hvfwdd1fdzzm0000gn/T/ipykernel_32988/1977518832.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hdi_gdp_reduced.rename(columns={'2021': 'GDP Per Capita (2021)'}, inplace=True)

,Country Name,Country Code,Human Development Index (2021),GDP Per Capita (2021)
0,Afghanistan,AFG,0.478,NaN
1,Angola,AGO,0.586,7.254699e+10
2,Albania,ALB,0.796,1.826004e+10
3,Andorra,AND,0.858,3.329911e+09
4,United Arab Emirates,ARE,0.911,NaN
...,...,...,...,...
190,Samoa,WSM,0.707,7.883900e+08
191,"Yemen, Rep.",YEM,0.455,2.106169e+10
192,South Africa,ZAF,0.713,4.199464e+11
193,Zambia,ZMB,0.565,2.120306e+10
194,Zimbabwe,ZWE,0.593,2.621773e+10

In [10]:
#Rename columns in dataframe containing total installed power generation capacity for each country
total_capacity_data
total_capacity_data.rename(columns={'country_long':'Country Name', 
                                    'total_fuel_types': 'Total Installed Capacity (All Fuel Types)',}, inplace=True)
total_capacity_data

,Unnamed: 0,Country Name,Total Installed Capacity (All Fuel Types),Country Code
0,0,Afghanistan,300.550,AFG
1,1,Albania,1529.000,ALB
2,2,Algeria,15873.800,DZA
3,3,Angola,1071.180,AGO
4,4,Antarctica,7.600,ATA
...,...,...,...,...
162,162,Vietnam,41350.490,VNM
163,163,Western Sahara,23.400,ESH
164,164,Yemen,1045.000,YEM
165,165,Zambia,2689.337,ZMB
166,166,Zimbabwe,1670.000,ZWE

In [17]:
#Merge total installed capacity dataframe with dataframe containing HDI and GDP per capita data

merge_totalcap_gdp_hdi = pd.merge(hdi_gdp_reduced, total_capacity_data, on='Country Code', how='inner')
merge_totalcap_gdp_hdi

#Delete unneeded colums
del merge_totalcap_gdp_hdi['Country Name_y']
merge_totalcap_gdp_hdi

del merge_totalcap_gdp_hdi['Unnamed: 0']
merge_totalcap_gdp_hdi

,Country Name_x,Country Code,Human Development Index (2021),GDP Per Capita (2021),Total Installed Capacity (All Fuel Types)
0,Afghanistan,AFG,0.478,NaN,300.550
1,Angola,AGO,0.586,7.254699e+10,1071.180
2,Albania,ALB,0.796,1.826004e+10,1529.000
3,United Arab Emirates,ARE,0.911,NaN,30327.000
4,Argentina,ARG,0.842,4.914927e+11,32913.079
...,...,...,...,...,...
157,Vietnam,VNM,0.703,3.626375e+11,41350.490
158,"Yemen, Rep.",YEM,0.455,2.106169e+10,1045.000
159,South Africa,ZAF,0.713,4.199464e+11,50422.700
160,Zambia,ZMB,0.565,2.120306e+10,2689.337
161,Zimbabwe,ZWE,0.593,2.621773e+10,1670.000

In [21]:
#Merge with dataframe containing total installed green/low-carbon power generation capacity
green_energy_data
#Rename Columns
green_energy_data.rename(columns={'country_long':'Country Name', 'total_green_power': 'Total Installed Capacity (Low-Carbon Fuel Types)', 'country': 'Country Code'}, inplace=True)
green_energy_data

#Execute merge
full_merge_df = pd.merge(merge_totalcap_gdp_hdi, green_energy_data, on='Country Code', how='inner')

full_merge_df

,Country Name_x,Country Code,Human Development Index (2021),GDP Per Capita (2021),Total Installed Capacity (All Fuel Types),Unnamed: 0,Country Name,Total Installed Capacity (Low-Carbon Fuel Types)
0,Afghanistan,AFG,0.478,NaN,300.550,0,Afghanistan,258.550
1,Angola,AGO,0.586,7.254699e+10,1071.180,3,Angola,770.600
2,Albania,ALB,0.796,1.826004e+10,1529.000,1,Albania,1431.000
3,United Arab Emirates,ARE,0.911,NaN,30327.000,141,United Arab Emirates,840.000
4,Argentina,ARG,0.842,4.914927e+11,32913.079,5,Argentina,12490.090
...,...,...,...,...,...,...,...,...
142,"Venezuela, RB",VEN,0.691,NaN,31096.000,146,Venezuela,17666.000
143,Vietnam,VNM,0.703,3.626375e+11,41350.490,147,Vietnam,18576.490
144,South Africa,ZAF,0.713,4.199464e+11,50422.700,122,South Africa,8177.110
145,Zambia,ZMB,0.565,2.120306e+10,2689.337,148,Zambia,2219.737
146,Zimbabwe,ZWE,0.593,2.621773e+10,1670.000,149,Zimbabwe,750.000

In [36]:
#Drop unneeded columns and clean dataframe

# del full_merge_df['Country Name']
# #del full_merge_df['Unnamed: 0']
# full_merge_df

cleaned_df = full_merge_df[['Country Name_x', 'Country Code', 'Human Development Index (2021)', 'GDP Per Capita (2021)', 'Total Installed Capacity (All Fuel Types)', 'Total Installed Capacity (Low-Carbon Fuel Types)']]
cleaned_df.rename(columns={'Country_Name_x': 'Country name'}, inplace=True)
cleaned_df

/var/folders/ng/41b1kp4n0wg3hvfwdd1fdzzm0000gn/T/ipykernel_32988/790999597.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df.rename(columns={'Country_Name_x': 'Country name'}, inplace=True)

,Country Name_x,Country Code,Human Development Index (2021),GDP Per Capita (2021),Total Installed Capacity (All Fuel Types),Total Installed Capacity (Low-Carbon Fuel Types)
0,Afghanistan,AFG,0.478,NaN,300.550,258.550
1,Angola,AGO,0.586,7.254699e+10,1071.180,770.600
2,Albania,ALB,0.796,1.826004e+10,1529.000,1431.000
3,United Arab Emirates,ARE,0.911,NaN,30327.000,840.000
4,Argentina,ARG,0.842,4.914927e+11,32913.079,12490.090
...,...,...,...,...,...,...
142,"Venezuela, RB",VEN,0.691,NaN,31096.000,17666.000
143,Vietnam,VNM,0.703,3.626375e+11,41350.490,18576.490
144,South Africa,ZAF,0.713,4.199464e+11,50422.700,8177.110
145,Zambia,ZMB,0.565,2.120306e+10,2689.337,2219.737
146,Zimbabwe,ZWE,0.593,2.621773e+10,1670.000,750.000

In [41]:
#Add new column and populate with % of installed capacity for low-carbon fuel types

cleaned_df['% Total Installed Low Carbon Capacity'] = ''
cleaned_df
cleaned_df['% Total Installed Low Carbon Capacity'] = (cleaned_df['Total Installed Capacity (Low-Carbon Fuel Types)'] / cleaned_df['Total Installed Capacity (All Fuel Types)'])*100
cleaned_df.sort_values('% Total Installed Low Carbon Capacity', ascending=False)

,Country Name_x,Country Code,Human Development Index (2021),GDP Per Capita (2021),Total Installed Capacity (All Fuel Types),Total Installed Capacity (Low-Carbon Fuel Types),% Total Installed Low Carbon Capacity
19,Bhutan,BTN,0.666,NaN,1482.20,1482.20,100.000000
103,Nepal,NPL,0.602,3.628883e+10,587.95,587.95,100.000000
42,Ethiopia,ETH,0.498,1.112711e+11,4023.90,4023.90,100.000000
92,Mozambique,MOZ,0.446,1.609583e+10,2285.00,2285.00,100.000000
114,Paraguay,PRY,0.717,3.898681e+10,8760.00,8760.00,100.000000
...,...,...,...,...,...,...,...
84,Moldova,MDA,0.767,1.367922e+10,2914.00,64.00,2.196294
32,Cuba,CUB,0.764,NaN,3796.80,19.20,0.505689
119,Saudi Arabia,SAU,0.875,8.335412e+11,84341.55,137.00,0.162435
14,Bahrain,BHR,0.875,3.886866e+10,7586.30,5.00,0.065908
74,Kuwait,KWT,0.831,NaN,17829.50,10.00,0.056087

In [51]:
#Merge regions from dataframe containing each country's region

final_merge_df = pd.merge(cleaned_df, country_regions_cleaned, on='Country Code', how='inner')
final_merge_df

,Country Name_x,Country Code,Human Development Index (2021),GDP Per Capita (2021),Total Installed Capacity (All Fuel Types),Total Installed Capacity (Low-Carbon Fuel Types),% Total Installed Low Carbon Capacity,Region,Sub-Region
0,Afghanistan,AFG,0.478,NaN,300.550,258.550,86.025620,Asia,Southern Asia
1,Angola,AGO,0.586,7.254699e+10,1071.180,770.600,71.939357,Africa,Sub-Saharan Africa
2,Albania,ALB,0.796,1.826004e+10,1529.000,1431.000,93.590582,Europe,Southern Europe
3,United Arab Emirates,ARE,0.911,NaN,30327.000,840.000,2.769809,Asia,Western Asia
4,Argentina,ARG,0.842,4.914927e+11,32913.079,12490.090,37.948713,Americas,Latin America and the Caribbean
...,...,...,...,...,...,...,...,...,...
142,"Venezuela, RB",VEN,0.691,NaN,31096.000,17666.000,56.811165,Americas,Latin America and the Caribbean
143,Vietnam,VNM,0.703,3.626375e+11,41350.490,18576.490,44.924474,Asia,South-eastern Asia
144,South Africa,ZAF,0.713,4.199464e+11,50422.700,8177.110,16.217120,Africa,Sub-Saharan Africa
145,Zambia,ZMB,0.565,2.120306e+10,2689.337,2219.737,82.538447,Africa,Sub-Saharan Africa
146,Zimbabwe,ZWE,0.593,2.621773e+10,1670.000,750.000,44.910180,Africa,Sub-Saharan Africa

In [69]:
final_merge_df['GDP Per Capita (2021)'].isna().sum()
final_merge_df_nonulls = final_merge_df.dropna(subset=['GDP Per Capita (2021)'])
final_merge_df_nonulls


final_merge_df_nonulls.rename(columns={'Country_Name_x':'Country Name'}, inplace=True)
final_merge_df_nonulls

/var/folders/ng/41b1kp4n0wg3hvfwdd1fdzzm0000gn/T/ipykernel_32988/33367827.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_merge_df_nonulls.rename(columns={'Country_Name_x':'Country Name'}, inplace=True)

,Country Name_x,Country Code,Human Development Index (2021),GDP Per Capita (2021),Total Installed Capacity (All Fuel Types),Total Installed Capacity (Low-Carbon Fuel Types),% Total Installed Low Carbon Capacity,Region,Sub-Region
1,Angola,AGO,0.586,7.254699e+10,1071.180,770.600,71.939357,Africa,Sub-Saharan Africa
2,Albania,ALB,0.796,1.826004e+10,1529.000,1431.000,93.590582,Europe,Southern Europe
4,Argentina,ARG,0.842,4.914927e+11,32913.079,12490.090,37.948713,Americas,Latin America and the Caribbean
5,Armenia,ARM,0.759,1.386118e+10,3271.000,1340.000,40.966065,Asia,Western Asia
6,Australia,AUS,0.951,1.542660e+12,65852.016,19009.100,28.866390,Oceania,Australia and New Zealand
...,...,...,...,...,...,...,...,...,...
141,Uzbekistan,UZB,0.727,6.923890e+10,12640.000,1240.000,9.810127,Asia,Central Asia
143,Vietnam,VNM,0.703,3.626375e+11,41350.490,18576.490,44.924474,Asia,South-eastern Asia
144,South Africa,ZAF,0.713,4.199464e+11,50422.700,8177.110,16.217120,Africa,Sub-Saharan Africa
145,Zambia,ZMB,0.565,2.120306e+10,2689.337,2219.737,82.538447,Africa,Sub-Saharan Africa
146,Zimbabwe,ZWE,0.593,2.621773e+10,1670.000,750.000,44.910180,Africa,Sub-Saharan Africa

In [64]:
# x = df[['interest_rate','unemployment_rate']]
# y = df['index_price']
 
# # with sklearn
# regr = linear_model.LinearRegression()
# regr.fit(x, y)

x = final_merge_df_nonulls[['GDP Per Capita (2021)', '% Total Installed Low Carbon Capacity']]
y = final_merge_df_nonulls[['Human Development Index (2021)']]

regr = linear_model.LinearRegression()
regr.fit(x, y)

print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 [0.77078865]
Coefficients:
 [[ 1.14464617e-14 -9.88194603e-04]]

In [70]:
# with statsmodels
#x = sm.add_constant(x) # adding a constant
 
model = sm.OLS(y, x).fit()
predictions = model.predict(x) 
 
print_model = model.summary()
print(print_model)

                                  OLS Regression Results
==========================================================================================
Dep. Variable:     Human Development Index (2021)   R-squared:                       0.085
Model:                                        OLS   Adj. R-squared:                  0.071
Method:                             Least Squares   F-statistic:                     6.258
Date:                            Sun, 27 Nov 2022   Prob (F-statistic):            0.00252
Time:                                    15:28:35   Log-Likelihood:                 71.018
No. Observations:                             138   AIC:                            -136.0
Df Residuals:                                 135   BIC:                            -127.3
Df Model:                                       2
Covariance Type:                        nonrobust
=========================================================================================================
                                            coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
const                                     0.7708      0.025     31.134      0.000       0.722       0.820
GDP Per Capita (2021)                  1.145e-14   4.95e-15      2.313      0.022    1.66e-15    2.12e-14
% Total Installed Low Carbon Capacity    -0.0010      0.000     -2.384      0.019      -0.002      -0.000
==============================================================================
Omnibus:                        7.862   Durbin-Watson:                   1.690
Prob(Omnibus):                  0.020   Jarque-Bera (JB):                3.787
Skew:                          -0.140   Prob(JB):                        0.151
Kurtosis:                       2.239   Cond. No.                     5.21e+12
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.21e+12. This might indicate that there are
strong multicollinearity or other numerical problems.